@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.edit-button,
.delete-button {
	margin: 0 5px 0 5px;
}

.pt-10 {
	padding-top: 100px;
}

.index-head {
	color: #0c501f;
	font-family: 'Abril Fatface', cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 81px;
}

.search-bar {
	width: 50vw;
	height: 50px;
	font-size: 25px;
	border-radius: 10px;
	border: 1px solid black;
}
